body
{
    margin: 0;
    font-family: 'Average Sans', sans-serif;
    line-height: 2;
}

section
{
    max-width: 1362px;

    header
    {
        border-bottom: 1px solid #EEE;
        padding: 30px;

        h1 
        {
            float: right;

            height: 230px;
            overflow: hidden;
            
            margin-top: -150px;

            a
            {
                font-family: 'Helvetica Neue';
                font-size: 7em;
                letter-spacing: -10px;

                text-decoration: none;
                color: #DDD;

                &:hover
                {
                    color: darken(#DDD, 20%);
                }
            }
        }

        h2
        {
            margin: 0;
            color: #8bbf36;
            font-size: 1.5em;
        }
    }

    #editor-content
    {
        display: none;
    }

    #editor-wrapper
    {
        clear: both;
        width: 45%;
        padding: 25px;
        float: left;

        h3
        {
            margin: 0 0 0 5px;
            text-transform: lowercase;
            color: #999;
            font-size: 0.8em;

            &:before { content: '/'; }
        }

        .CodeMirror
        {
            line-height: 2;
            font-size: 1.15em;
            height: auto;

            .CodeMirror-scroll
            {
                overflow-y: hidden;
                overflow-x: auto;
            }
        }
    }

    #preview-wrapper
    {
        width: 45%;
        padding: 25px;
        float: left;

        h3
        {
            margin: 0;
            text-transform: lowercase;
            color: #999;
            font-size: 0.8em;

            &:before { content: '/'; }
        }

        #preview
        {
            font-size: 1em;

            h1, h2, h3, h4, h5, h6, p { margin: 0; font-size: 1em; }
            p { margin-bottom: 10px; }
            strong { font-family: 'Tahoma'; }
            img { margin: 15px 15px 15px 0; float: left; border: 1px solid #EEE; }
        }
    }
}