body
{
    font-family: 'Gentium Book Basic', Georgia, serif;
    color: #444;
    text-transform: lowercase;
    padding-bottom: 50px;
}

.container
{
    margin-top: 50px;
}

h1
{
    font-family: 'Gentium Book Basic', Georgia, serif;
    font-size: 5em;
}

h2
{
    font-size: 2em;
    border-bottom: 1px solid #EEE;
    padding-bottom: 30px;
}

p, ul
{
    font-size: 1.5em;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
}

p
{
    margin-top: 30px;
}